@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --foreground: #ffffff;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}